
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }


img{
    width: 100%;
    height:48.75pc;
    
}
.container2{
    position:relative;
    margin-top:2pc;
    position: absolute;
    top: 5%;
    width:100%;
    padding:0px;

}

.container1{
    position:relative;
    width: 100%;
    background-color: #0b08b1;
    border-radius: 5px;
    opacity:0.8;
    margin-left:0px;
    height:100vh;
}

.header{
    width: 30%;
    padding: 1%;
    color:white;
    background-color:rgb(10, 78, 78);
    height: 7pc;
    text-align: center;
    margin:auto;
    border-radius: 5px 5px 0 0;
    display:flex;
    opacity:0.6;

}
.logodiv{
    width:10pc;
    height:10pc;

}
hr{
    margin-bottom:1pc;
}

#logo{
    width: 9pc;
    height: 9pc;
    border-radius:10pc;
    margin-left:0px;
    position:relative;
    top:-25px;
    left:-3pc;
}

h1
{
    margin-top:1pc;
}

.amountbooked{
    font-weight:bold;
    color:white;
    font-size:10px;
    margin-top:4pc;
}

.rupee{
    width:7pc;
    height:2.5pc;
    background-color:rgb(113, 119, 119);
    border-radius:1pc;
    margin-top:3pc;
    padding-top:1pc;
    font-size:large;

}
.body{
    width: 30%;
    margin: auto;
    padding: 1%;
    background-color: rgb(10, 78, 78);
    height: 33pc;
    border-radius: 0 0 5px 5px;
    opacity:0.6;
    
}

#cardtitle{
    display: flex;
    flex-wrap: wrap;
    margin-left:3pc;
    font-size:10px;
    font-weight:bold;
    color:white;
}

#cards{
    width:9pc;
    height:2pc;
    margin-left:3pc;
    margin-bottom:1pc;
    border-radius:8px;
}

h2{
    margin-left:2pc;
    font-weight:bold;
    color:white;
    margin-bottom:1pc;
}

#paytitle, #amounttitle, #datetitle{
    display:block;
    margin-left:3pc;
    font-weight:bold;
    color:white;
    font-size:10px;
}

#payment-name, #amount, #date{
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left:3pc;
}

#submit{
  width: 16%;
  padding: 10px;
  background-color: rgb(24, 148, 115);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-items:right;
  margin-left:85%;
  margin-top:1pc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}